body {
  font-family: 'Barlow', sans-serif;
}
header, footer {
  background-color: #FF5732;
  opacity: 90%;
}
.text-center {
  text-align: center
}
.name {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.location-div {
  margin: 1rem 0;
}

.zip-input {
  width: 75%;
  height: 3rem;
  border: none;
  background-color: #F2EFEF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25)  ;
}

.zip-input::placeholder,
.zip-input:focus {
  color: #AAAAAA;
  padding-left: .4rem;
  outline: none;
  font-size: 1rem;
}

.image {
  width: 100%;
}
.search, .star {
  color:  white;
  font-size: 2.5rem;
  padding: 15px;
}
